<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.life.unicore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MembershipActivity"></activity>
        <activity android:name=".activities.AppointmentDetailsActivty" />
        <activity android:name=".activities.BookedSuccessfullyActivity" />
        <activity android:name=".activities.WebViewActivity" />
        <activity android:name=".activities.PatientDetailsActivity" />
        <activity android:name=".activities.TimeSlotActivity" />
        <activity android:name=".activities.AllServicesActivity" />
        <activity android:name=".activities.AllTimingsActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.DoctorsListActivity" />
        <activity android:name=".activities.FindDoctorsActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.ChooseLocationActivity" />
        <activity
            android:name=".activities.WalkThroughActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>